MYSQL_DATABASE=rustica_db
MYSQL_USER=rustica_user
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

WP_TABLE_PREFIX=rst_ 
WP_DEBUG=0

JWT_AUTH_SECRET_KEY=

SMTP_USER=
SMTP_PASSWORD=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=